# $Id: aaa_lib.cfg,v 1.1 2003/04/07 21:27:52 andrei Exp $
#
#  Example aaa_lib config file
#  Format:
#      id = value
#
#  History:
#  --------
#  2003-03-13  created by andrei



debug=6                  # maximum debug level
log_stderr=1             # log to stderr by default
listen_port = 1812
aaa_identity= "aaa://fesarius.fokus.gmd.de:1812;transport=tcp"
aaa_realm= fokus.gmd.de
aaa_fqdn = fesarius.fokus.gmd.de

echo = end of aaa_lib.cfg
include =aaa_client.cfg

