# $Id: aaa_client.cfg,v 1.11 2003/04/13 23:01:16 andrei Exp $
#
#  Example aaa_client config file
#  Format:
#      id = value
#
#  History:
#  --------
#  2003-03-13  created by andrei



debug=6                  # maximum debug level
log_stderr=1             # log to stderr by default
listen_port =1812 
aaa_realm= fokus.gmd.de 
aaa_fqdn =  dhcp10.ultima 
aaa_status = AAA_CLIENT

module_path= client/modules/print

echo before loading the modules 

module= print 
set_mod_param print foo 1234
set_mod_param print bar testing
echo adding peers

# peers
#peer=  aaa://ugluk.mobis.fokus.gmd.de:1812;transport=tcp  ugluk
#peer=  aaa://localhost:1812;transport=tcp  l
peer=  aaa://sfantu-petru:1812;transport=tcp   sp

echo adding routes
# routing

#route= *fokus.gmd.de     m69   # alias
#route= *localdomain  localhost # hostname 
#route= *.mobis.*    aaa://ugluk.mobis.fokus.gmd.de:1812;transport=tcp #uri

echo end of config.



